
.example {
    transition: [transition-property] [transition-duration] [transition-timing-function] [transition-delay];
}

body
{
  height: 100%;
	margin: 0px;
	padding: 0px;
	background: #171717;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12pt;
	font-weight: 300;
	color: #363636;
}

  .rela-block {
    display: block;
    position: relative;
    margin: auto;
  }
  
  .floated {
    display: inline-block;
    position: relative;
    margin: false;
  }
  .floated.right {
    float: right;
  }
  body {
    background-color: #f4f4f4;
  }
  .container {
    z-index: 1;
    width: 92%;
    max-width: 1126px;
    background-color: #f4f4f4;
    margin: 70px auto;
    padding: 70px 0;
  }
  .profile-card {
    width: calc(100% - 40px);
    padding-top: 100px;
    margin: 70px auto 30px;
    background-color: #fff;
    box-shadow: 0 2px 6px -2px rgba(0,0,0,0.26);
  }
  .profile-pic {
    display: false;
    position: absolute;
    margin: false;
    top: -90px;
    left: 50%;
    right: false;
    bottom: false;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    height: 180px;
    width: 180px;
    border: 10px solid #fff;
    border-radius: 100%;
    background: center no-repeat;
    background-size: cover;
    overflow: hidden;
  }
  .profile-pic img{
    width: 100%;
    height: 100%;
  }
  .profile-name-container {
    margin: 0 auto 10px;
    padding: 10px;
    text-align: center;
  }
  .user-name {
    font-family: "Montserrat";
    font-size: 24px;
    letter-spacing: 3px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 12px;
    text-transform: uppercase;
  }
  .profile-card-stats {
    height: 75px;
    padding: 10px 0px;
    text-align: center;
    overflow: hidden;
  }
  .profile-stat {
    height: 100%;
    width: 33.3333%;
  }
  .profile-stat:after {
    color: #999;
  }
  .works::after {
    content: "Edit Posts";
  }
  .followers::after {
    content: "Edit Profile";
  }

  @media screen and (max-width: 1300px) {
    .container {
      max-width: 843px;
    }
  }
  @media screen and (max-width: 1000px) {
    .container {
      max-width: 562px;
    }
  }
  @media screen and (max-width: 550px) {
    .profile-card-stats {
      height: 0;
      padding: 0px;
    }
    .profile-pic {
      height: 140px;
      width: 140px;
      top: -70px;
    }
    .profile-card {
      padding-top: 70px;
      margin: 50px auto 30px;
    }
  }

.bio{
    margin-left: 240px;
}

.row{
    display: inline-block;
}



  

  

