<app-navbar></app-navbar>

<!-- FONTS --><!-- Roboto, Yellowtail, and Montserrat -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />

<div class="container">
    <h1>Profile</h1>
  	<hr>
	<div class="row">
      <!-- left column -->
      <div class="col-md-3">
        <div class="text-center">
          <img src="{{ profile.profile.photo }}" class="avatar img-circle" alt="avatar">
        </div>
      </div>
      
      <!-- edit form column -->
      <div class="col-md-9 personal-info">
        <div class="alert alert-info alert-dismissable">
          <a class="panel-close close" data-dismiss="alert">×</a> 
          <i class="fa fa-coffee"></i>
          This is an <strong>.alert</strong>. Use this to show important messages to the user.
        </div>
        <h3>Personal info</h3>
        
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-lg-3 control-label">First name:</label>
            <div class="col-lg-8">
                <h4>{{profile?.first_name}}</h4>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Last name:</label>
            <div class="col-lg-8">
              <h4>{{profile?.last_name}}</h4>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Position:</label>
            <div class="col-lg-8">
              <h4>{{profile?.profile.position}}</h4>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Email:</label>
            <div class="col-lg-8">
              <h4>{{profile?.email}}</h4>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Time Zone:</label>
            <div class="col-lg-8">
              <div class="ui-select">
                <select id="user_time_zone" class="form-control">
                  <option value="Hawaii">(GMT-10:00) Hawaii</option>
                  <option value="Alaska">(GMT-09:00) Alaska</option>
                  <option value="Pacific Time (US &amp; Canada)">(GMT-08:00) Pacific Time (US &amp; Canada)</option>
                  <option value="Arizona">(GMT-07:00) Arizona</option>
                  <option value="Mountain Time (US &amp; Canada)">(GMT-07:00) Mountain Time (US &amp; Canada)</option>
                  <option value="Central Time (US &amp; Canada)" selected="selected">(GMT-06:00) Central Time (US &amp; Canada)</option>
                  <option value="Eastern Time (US &amp; Canada)">(GMT-05:00) Eastern Time (US &amp; Canada)</option>
                  <option value="Indiana (East)">(GMT-05:00) Indiana (East)</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Username:</label>
            <div class="col-md-8">
                    <h4>{{profile?.username}}</h4>
            </div>
          </div>
          <!-- <div class="form-group">
            <label class="col-md-3 control-label">Password:</label>
            <div class="col-md-8">
                    <h4>Jane</h4>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Confirm password:</label>
            <div class="col-md-8">
                    <h4>Jane</h4>
            </div>
          </div>  -->
          <!-- <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <input type="button" class="btn btn-primary" value="Save Changes">
              <span></span>
              <input type="reset" class="btn btn-default" value="Cancel">
            </div>
          </div> -->
        </form>
      </div>
  </div>
</div>
<hr>

<!--
<div class="rela-block container">
    <div class="rela-block profile-card">
        <div class="profile-pic" id="profile_pic">
            <img src="{{profile.profile.photo}}" alt=""/>
        </div>
        <div class="rela-block profile-name-container">
            <div class="rela-block user-name" id="user_name">{{profile?.username}}</div>
            <div class="rela-block user-desc" id="user_description">{{profile?.profile.position}}</div>
        </div>
        <div class="rela-block profile-card-stats">
            <div class="floated profile-stat works" id="num_works"><br></div>
            <div class="floated profile-stat followers" id="num_followers"><br></div>
        </div>
    </div>  
    
    <div class="rela-block profile-card">
        <div class="bio">
            <ul class="row">
                <li><div class="col-md-6">
                    <label>Name</label>
                </div>
                <div class="col-md-6">
                    <p>{{profile?.first_name}} {{profile?.last_name}}</p>
                </div></li>
            </ul>
            <ul class="row">
                <li><div class="col-md-6">
                    <label>Email</label>
                </div>
                <div class="col-md-6">
                    <p>{{profile?.email}}</p>
                </div></li>
            </ul>
            <ul class="row">
                <li><div class="col-md-6">
                    <label>Address</label>
                </div>
                <div class="col-md-6">
                    <p>{{profile?.profile.address}}</p>
                </div></li>
            </ul>
            <ul class="row">
                <li><div class="col-md-6">
                    <label>Profession</label>
                </div>
                <div class="col-md-6">
                    <p>{{profile?.profile.position}}</p>
                </div></li>
            </ul>
        </div>
    </div>
    
</div> -->

<app-footer></app-footer>