<!--<header>
    <nav class ="navbar navbar-expand-md navbar-dark bg-dark">
    <div><a href="https://www.sk.kz" class="navbar-brand">QazCloud</a></div>
    
    <ul class="navbar-nav">
       
      <li><a routerLink="/" class="nav-link">News</a></li>
      <li><a routerLink="/addemployee" class="nav-link">For Workers</a></li>
      <li><a routerLink="/login" class="nav-link">User Profile</a></li>
      <li><a routerLink="/logout" class="nav-link">LogOut</a></li>
    
    </ul>
      </nav>
    </header>-->


<!-- header -->
<header class="myheader">
  <h1 id="logo"><a href="#">WebLab</a></h1>
    <div class="topnav">
        <a class="active" href="#home">Home</a>
        <a href="#news">News</a>
        <a href="#contact" >Contact</a>
        <a href="#about" >About</a>
        <a id="sg" *ngIf="!(isLoggedIn)" href="login">Sign In</a>
        <!--<a (click)="logout()" *ngIf="isLoggedIn" >LogOut</a>-->
        <div class="dropdown">
            <button class="dropbtn">Duman Iklassov 
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="profile">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
        </div> 
        <!-- <a class="top-profile" href="profile" *ngIf="isLoggedIn" >
            <div class="top-profile-name">{{ profile.first_name }} {{ profile.last_name }}</div>
            <img src="{{profile.profile.photo}}" alt="Avatar">
            <div>
              
            </div>
        </a> -->
    </div>
</header>
<!-- end of header -->


<!-- <header class="myheader">
    
    <div class="shell">
      <h1 id="logo"><a href="#">WebLab</a></h1>
      
      <nav id="navigation">
        <ul>
          <li class="active"><a href=" ">Главная</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#" *ngIf="isLoggedIn">Services</a></li>
          <li><a href="#" *ngIf="isLoggedIn" >Portfolio</a></li>
          <li><a id="sg" *ngIf="!(isLoggedIn)" href="login">Sign In</a></li>
        </ul> 
            <a class="top-profile" href="profile" *ngIf="isLoggedIn" >
              <div>{{ profile.first_name }}</div>
              <img src="{{profile.profile.photo}}" alt="Avatar">
              <div></div>
            </a>
           
      </nav>
      
    </div>
    
  </header> -->
  
  
  