<head>

  <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />

</head>

<body>
<div id="header-wrapper">
	<div id="header-wrapper2">
		<div id="header" class="container">
			<div id="logo">
				<h1><a href="#">QazCloud</a></h1>
			</div>
			<div id="menu">
				<ul>
					<li class="current_page_item"><a href="" accesskey="1" title="">Homepage</a></li>
					<li><a href="#news" accesskey="2" title="">News</a></li>
					<li><a *ngIf="isLoggedIn" href="#" accesskey="3" title="">About Us</a></li>
					<li><a *ngIf="!isLoggedIn" href="#login" accesskey="4" title="">Sign In</a></li>
					<li>
            <div class="dropdown" *ngIf="isLoggedIn" accesskey="5">
                <a class="dropbtn" href="#profile">{{ profile.first_name }} {{ profile.last_name }}</a> 
                  <!-- <i class="fa fa-caret-down"></i> -->  
                <ul>
                  <li><a href="#profile">Profile</a></li>
                  <li><a (click)="logout()" >Logout</a></li>
                </ul>
            </div> 
          </li>
				</ul>
			</div>
		</div>
		<div class="major">
			<h2>Maecenas luctus lectus at sapien</h2>
			<span>Integer sit amet pede vel arcu aliquet pretium</span> <a href="#" class="button">Read More</a> </div>
	</div>
</div>
</body>
<!-- <a class="top-profile" href="profile" *ngIf="isLoggedIn" >
            <div class="top-profile-name">{{ profile.first_name }} {{ profile.last_name }}</div>
            <img src="{{profile.profile.photo}}" alt="Avatar">
            <div>
              
            </div>
        </a> -->

<!-- <header class="myheader">
    
    <div class="shell">
      <h1 id="logo"><a href="#">WebLab</a></h1>
      
      <nav id="navigation">
        <ul>
          <li class="active"><a href=" ">Главная</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#" *ngIf="isLoggedIn">Services</a></li>
          <li><a href="#" *ngIf="isLoggedIn" >Portfolio</a></li>
          <li><a id="sg" *ngIf="!(isLoggedIn)" href="login">Sign In</a></li>
        </ul> 
            <a class="top-profile" href="profile" *ngIf="isLoggedIn" >
              <div>{{ profile.first_name }}</div>
              <img src="{{profile.profile.photo}}" alt="Avatar">
              <div></div>
            </a>
           
      </nav>
      
    </div>
    
  </header> -->
  
  
  