.example {
  transition: [transition-property] [transition-duration] [transition-timing-function] [transition-delay];
}

html, body
{
  height: 100%;
}

body
{
  margin: 0px;
  padding: 0px;
  background: #171717;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12pt;
  font-weight: 300;
  color: #363636;
}

h1, h2, h3
{
  margin: 0;
  padding: 0;
}

p, ol, ul
{
  margin-top: 0px;
}

p
{
  line-height: 180%;
}

a
{
  color: #EBA612;
}

a:hover
{
  text-decoration: none;
}

a img
{
  border: none;
}


.button
{
  display: inline-block;
  margin-top: 2em;
  padding: 1em 3em;
  background: #FCC44B;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
  -ms-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
  letter-spacing: 0.20em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.90em;
  color: #000;
}

		.button:hover
		{
			background: #FBC551;
		-moz-transition: opacity 0.25s ease-in-out;
		-webkit-transition: opacity 0.25s ease-in-out;
		-o-transition: opacity 0.25s ease-in-out;
		-ms-transition: opacity 0.25s ease-in-out;
		transition: opacity 0.25s ease-in-out;
		}
		
		.button:active
		{
			background: #F2B42F;
		-moz-transition: opacity 0.25s ease-in-out;
		-webkit-transition: opacity 0.25s ease-in-out;
		-o-transition: opacity 0.25s ease-in-out;
		-ms-transition: opacity 0.25s ease-in-out;
		transition: opacity 0.25s ease-in-out;
		}

.image
{
  display: inline-block;
}

  .image img
  {
    display: block;
    width: 100%;
  }

.image-full
{
  display: block;
  width: 100%;
  margin: 0 0 2em 0;
}

.image-left
{
  float: left;
  margin: 0 2em 2em 0;
}

.image-centered
{
  display: block;
  margin: 0 0 2em 0;
}

  .image-centered img
  {
    margin: 0 auto;
    width: auto;
  }

hr
{
  display: none;
}

#header
{
	position: relative;
	height: 150px;
}

.container
{
	width: 1200px;
	margin: 0px auto;
}

#logo
	{
		position: absolute;
		top: 3em;
		left: 0;
		width: 100%;
	}
	
	#logo h1
	{
		display: inline-block;
		font-size: 2.5em;
		text-transform: uppercase;
		font-weight: 700;
		color: #000;
	}
	
	#logo a
	{
		text-decoration: none;
		color: #000;
  }
  
  #menu
	{
		position: absolute;
		right: 0;
		top: 3em;
	}
	
	#menu ul
	{
		display: inline-block;
	}
	
	#menu li
	{
		display: block;
		float: left;
		text-align: center;
	}
	
	#menu li a, #menu li span
	{
		display: block;
		padding: 1em 1.5em;
		letter-spacing: 0.20em;
		text-decoration: none;
		font-size: 0.90em;
		font-weight: 600;
		text-transform: uppercase;
		outline: 0;
		color: #FFF;
  }
  #menu li a
  {
        -webkit-transition: background 2s;
  }
	
	#menu li:hover a
	{
        background: #000;
        -webkit-transition: background 1s;
	}
	
	#menu .current_page_item a
	{
		color: #FFF;
  }
  
  #header-wrapper
{
	overflow: hidden;
	height: 700px;
	background: url('/assets/img/try5.jpg') no-repeat top center;
	background-size: 100%;
}

	ul.style2
	{
		margin: 0;
		padding: 0;
		list-style: none;
	}
	
	ul.style2 li
	{
		border-top: solid 1px #E5E5E5;
		padding: 0.80em 0;
	}
	
	ul.style2 li:first-child
	{
		border-top: 0;
		padding-top: 0;
  }
  
  .major
	{
		margin-top: 14em;
		text-align: center;
	}
	
	.major h2
	{
		padding: 0em 1em;
		background: rgba(0,0,0,.5);
		text-transform: uppercase;
		line-height: 2em;
		font-size: 3em;
		color: #FFF;
	}

	.major span
	{
		display: block;
		padding: 0em 1em;
		background: rgba(0,0,0,.25);
		line-height: 3em;
		text-transform: uppercase;
		font-size: 1.5em;
		font-weight: 700;
		color: #FFF;
	}

	.major .button
	{
		background: #FCC44B;
		font-size: 1.5em;
		font-weight: 700;
  }

.dropdown {
  display: block;
  margin: 0 auto;
  position: relative;
  width: 200px;
}

.dropdown > a {
  color: #fff;
  display: block;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
}

.dropdown ul {
  background: #000;
  height: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  transition: all .4s ease;
  top: 35px;
  width: 100%;
  margin-top: 12px;
}

.dropdown:hover ul {
  padding-left: 0%;
  height: 94px;
  opacity: 1;
}

.dropdown ul li a {
  width: 157px;
  padding: 5px 20px;
}

.dropdown ul li a:hover{
  color: #000 !important;
  background-color: #fff !important;
}
